@charset 'utf-8';

// Typography variables
// --------------------------------------------------
// $font-family-NotoSansCJKKr: 'NotoSansCJKkr' !default;
// $font-family-NotoSansCJKKr-DemiLight-src: '~~@/assets/fonts/NotoSansCJKkr-DemiLight' !default;
// $font-family-NotoSansCJKKr-Regular-src: '~~@/assets/fonts/NotoSansCJKkr-Regular' !default;
// $font-family-NotoSansCJKKr-Medium-src: '~~@/assets/fonts/NotoSansCJKkr-Medium' !default;
// $font-family-NotoSansCJKKr-Bold-src: '~~@/assets/fonts/NotoSansCJKkr-Bold' !default;

$font-family-D2Coding: 'D2Coding' !default;
$font-family-D2Coding-src: '~~@/assets/fonts/D2Coding' !default;
$font-family-D2Coding-Bold-src: '~~@/assets/fonts/D2Coding-Bold' !default;

$font-weight-demilight: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;